<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
jalo?

 <%#= link_to "settings", parent_child_path(@parent) %>
 <%#= link_to user_path(current_user)%>

<%= link_to "new studio", new_studios_path %>
